
<div class = "container">

  <br>
	<fieldset>
	<legend>Login</legend>
	<form action="/session" method = "post" class="form-inline">
		<input type="hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
		<div class="form-group">
			<label for="email">Email</label>
		<input type="text" name = "email" id = "email">
	</div>
		<div class="form-group">
			<label for="password">Password</label>
		<input type="password" name = "password" id = "password">
	</div>
		<input type="submit" class = "btn btn-success" value = "Login">

	</form>
</fieldset>
</div>
</br>
<div class = "container">
	<fieldset>
	<legend>Register</legend>
	<form action="/users" method = "post">

		<input type="hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" name = "user[first_name]" id = "first_name">

	</div>
	<div class="form-group">	<label for="last_name">Last Name</label>
		<input type="text" class="form-control" name = "user[last_name]" id = "last_name">

	</div>
	<div class="form-group">	<label for="email">Email</label>
		<input type="text" class="form-control" name = "user[email]" id = "email">

	</div>

	<div class="form-group">	<label for="password">Password</label>
		<input type="password" class="form-control" name = "user[password]" id = "password">
		<br>
		*Password should be at least 8 characters

	</div>

   	<div class="form-group">
		<label for="password_confirmation">Confirm PW</label>
   		<input type="password" class="form-control" name="user[password_confirmation]">

	</div>
		<input type="submit" value = "Register" class = "btn btn-primary" data-toggle="popover" title="Validation Errors" data-content="
		<%=flash[:errors] %>">
	</form>
</fieldset>

</div>
