// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image:url(/assets/bacground.jpg);
  
}


input[type="text"]
{
    background: transparent;
    border: none;
}
input[type="email"]
{
    background: transparent;
    border: none;
}
input[type="password"]
{
    background: transparent;
    border: none;
}
.label{
	background-color:white;
	color:black;
	border-radius: 5px;
	font-size:16px;;
}
.container{
	background-color:white;
	opacity: 0.7; 
	border-radius: 10px;
	padding: 10px;
}